body {
  background-color: rgb(199, 193, 193);
  font-family: 'Kaisei Decol', serif;
}
#main {
  width: 90%;
  height: 100%;
  background:linear-gradient(rgb(221, 216, 216),rgb(114, 112, 112),rgb(85, 85, 85));
  margin: auto;
  border-radius: 20px;
}
#title {
  text-align: center;
  padding-top: 40px;
  font-weight:italic;
  font-size: 48px;
}
#subheader {
  text-align: center;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;

}

#img {
  width: 80%;
  max-width: 80%;
  margin: auto;
  border-radius: 25px;
  display: block;
}
#img-caption {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 20px;
  font-size: 18px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
#timeline {
  background:linear-gradient(rgb(168, 166, 166),rgb(129, 129, 129),rgb(85, 85, 85));
  max-width: 90%;
  display: block;
  border-radius: 20px;
  margin: auto;
  font-size: 18px;
}
#tribute-info {
  text-align: center;
}
#timeline-ul {
  width: 50%;
  margin: 0 auto;
}
#timeline-ul:first-child {
  padding-top: 30px;
}
#timeline-ul:last-child {
  padding-bottom: 3px;
}
.timeline-li {
  padding-top: 20px;
  padding-bottom: 20px;
}
#wikipedia {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
#link{
    text-align: center;
 
    text-decoration: none;
}
#link:link{
    color:blue}
#link:hover{
    color: rgb(128, 65, 187);
}


#link:active{
  
    color: red;
}

footer{
  text-align: center;
  margin: 30px;
}
@media only screen and (max-width: 1200px) {
  
  #timeline-ul{
    width: 80%;
  
  }
  #title{
    font-size: 28px;
  }
  #subheader{
    font-size: 16px;
  }
  #timeline{
    font-size: 1.0pc;
    margin:auto;
  }
  .timeline-li{
    padding:8px;
    margin: auto;
  }
 
}
